 .app{
  font-size: 14px;
  color: #353637;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #98A3A5;
  font-size: 14px;
}

.van-tabbar-item__icon {
  img {
    width: 24px !important;
    height: 24px !important;
  }
}

.van-tabbar-item__text {
  font-size: 9px;
}
.van-cell {
  align-items: center;
}
.hide-ullup-message {
  .before-trigger {
    display: none;
  }
}
.van-search__action {
  color: #24B592;
}